<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <movie>
            <general>
                <enable_search_on_tmdb>0</enable_search_on_tmdb>
            </general>
        </movie>
        <csp>
            <mode>
                <admin>
                    <report_uri>https://api.themoviedb.org/4/search/movie</report_uri>
                    <report_uri>https://unpkg.com/tailwindcss@1.4.6/dist/tailwind.min.css</report_uri>
                </admin>
            </mode>
        </csp>
    </default>
</config>
