<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="movie" translate="label" sortOrder="10000">
            <label>Movies</label>
        </tab>
        <section id="movie" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>The Movie Data Base Api settings</label>
            <tab>movie</tab>
            <resource>Peteleco_Movie::movie</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Api keys and Token</label>
                <field id="api_key" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Api key for v3</label>
                </field>
                <field id="api_token" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Api token for v4</label>
                </field>
                <field id="enable_search_on_tmdb" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Allow users to search directly at your catalog on TMDB?</label>
                    <comment>This option can only be used with v4 api, that allow read requests with Bearer Token.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

        </section>
    </system>
</config>
